<div class="flex flex-row h-full">
  <div class="flex-1">
    <img class="h-full w-full object-cover" alt="logo koq" src="https://placehold.co/600x400?text=koq" />
  </div>

  <section class="flex-1 flex flex-col justify-center items-center">
    <form class="m-8">
      <label class="block">Usuario:</label>
      <input class="border-2 w-full" type="email" />

      <label class="block">Contrasenia:</label>
      <input class="border-2 w-full" type="password" />
    </form>
  </section>
</div>
