<div
  class="flex flex-col w-full border rounded-3xl divide-y divide-gray-300/60 border-gray-300/60 mt-4 hover:border-koq transition"
>
  <div
    class="flex flex-row items-center justify-start bg-white rounded-t-3xl gap-2 w-full p-4 border-b border-gray-300/60"
  >
    <img
      src="https://dcdn-us.mitiendanube.com/stores/004/450/435/products/imagen-de-whatsapp-2024-04-12-a-las-12-50-09_b19699b1w-e685060aefe44b1bc317138093853852-1024-1024.webp"
      class="size-16 rounded-xl"
    />
    <div class="flex flex-col flex-1 mx-6">
      <span class="px-3 py-1 w-min rounded-2xl text-xs! bg-koq/30"> BASICAS </span>
      <p class="text-3xl font-bold">{{ 'Remera Termica Unisex' }}</p>
    </div>

    <div class="flex flex-col items-end mx-6">
      <div class="flex flex-row gap-x-3 items-center">
        <span class="w-3 h-3 rounded-full bg-koq animate-pulse"></span>

        <span class="font-headline text-4xl font-bold items-baseline"
          >{{ '22' }}
          <span class="text-lg text-zinc-500 items-baseline">Unidades</span>
        </span>
      </div>
      <span class="text-xs text-koq px-2 py-1 w-full rounded-full p-1 bg-koq/10">
        STOCK BAJO EN TALLER
      </span>
    </div>

    <div class="rounded-full border p-1.5 border-zinc-500 text-zinc-500!">
      <mat-icon>edit</mat-icon>
    </div>
    <div class="rounded-full border p-1.5 border-koq bg-koq text-white!">
      <mat-icon>expand_less</mat-icon>
    </div>
  </div>

  <div class="flex flex-row p-4">
    <table class="flex-1 flex-col">
      <span class="flex text-center items-center tracking-wider gap-2 text-xs font-medium"><mat-icon>straighten</mat-icon>GRILLA DE STOCK POR TALLE / COLOR</span>

    </table>
    <div class="flex-1">RESUMEN DE VENTAS</div>
  </div>
</div>
