<div class="flex flex-1/12 flex-col h-full items-start justify-start bg-white">
  <div class="flex flex-row w-full justify-between p-6 cursor-pointer" routerLink="">
    <div class="flex flex-col">
      <h1 class="text-2xl text-koq">Koq Store</h1>
      <h2 class="text-sm text-gray-900/60">INVENTARIO</h2>
    </div>
    <img class="size-14" src="koq-logo-sm.jpeg" />
  </div>

  <nav class="flex flex-col gap-0.5 w-full py-4 px-6">
    <app-nav-item
      [navLink]="'catalogo'"
      [iconName]="'inventory_2'"
      [navName]="'CATALOGO'"
    ></app-nav-item>
    <app-nav-item
      [navLink]="'nuevo_item'"
      [iconName]="'add_box'"
      [navName]="'NUEVO ITEM'"
    ></app-nav-item>
    <app-nav-item
      [navLink]="'transferencia'"
      [iconName]="'local_shipping'"
      [navName]="'TRANSFERENCIA'"
    ></app-nav-item>
    <app-nav-item
      [navLink]="'recepcion'"
      [iconName]="'archive'"
      [navName]="'RECEPCION'"
    ></app-nav-item>
    <app-nav-item [navLink]="'alertas'" [iconName]="'warning'" [navName]="'ALERTAS'"></app-nav-item>
    <app-nav-item
      [navLink]="'historial'"
      [iconName]="'history'"
      [navName]="'HISTORIAL'"
    ></app-nav-item>
  </nav>

  <div
    class="flex flex-col justify-start items-start p-6 gap-2 w-full mt-auto border-t-2 border-gray-300"
  >
    <div class="flex flex-row gap-x-2">
      <mat-icon class="border rounded-full pr-6">person</mat-icon>
      <p class="text-xl">{{ user() }}</p>
    </div>

    <app-nav-item
      [navLink]="'auth'"
      [iconName]="'logout'"
      [navName]="'CERRAR SESION'"
    ></app-nav-item>
  </div>
</div>
