:host {
  display: block;
  height: 100%;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-input {
  -moz-appearance: textfield;
}
